/* Use a responsive font size based on the viewport width */
html {
    font-size: calc(1rem + (1.5 - 1) * ((100vw - 300px) / (1600 - 300)));
}

/* Use the user's preferred system font as the default font */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Verdana, sans-serif;
}

/* Use a light grey as the main background color */
body {
    background-color: #f5f5f5;
    margin: 0;
}

/* Center the wrapper element and give it a max-width */
.wrapper {
    max-width: 800px;
    margin: 50px auto;
}


/* Use a white background for the user input container and give it some padding */
.user-input {
    background-color: white;
    padding: 1rem;
}

/* Use a light grey background for the text output container and give it some padding */
.text-output {
    background-color: #f5f5f5;
    padding: 1rem;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
}

/* Use a dark grey as the accent color */
:root {
    --accent-color: #333;
}

/* Style the form elements */
form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* Style the input field */
.input-field {
    width: 100%;
    text-align: center;
    justify-content: center;
}

input {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    text-align: center;
}

/* Add a dark grey underline to the input field when it is focused */
input:focus {
    outline: none;
}

input:focus~.underline {
    background-color: var(--accent-color);
}

/* Style the underline */
.underline {
    transition: color 0.3s, background 0.3s, border 0.3s, text-shadow 0.3s;
    z-index: 0;
    height: 5px;
    margin-top: -4px;
    width: 100%;
}

/* Style the buttons */
.buttons-wrap {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.buttons {
    display: flex;
    align-items: stretch;
    /* justify-content: space-between; */
}

.btn {
    align-items: center;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--accent-color);
    background-color: inherit;
    padding: 0.75rem 1.5rem;
}

/* Style the clear button */
.clear {
    text-decoration: none;
    color: var(--accent-color);
    /* or any other color you want */
}

/* Style the additional options */
.add-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
}


.add-options label {
    font-size: 1rem;
    margin-right: 0.5rem;
}

.add-options input[type="checkbox"],
.add-options select {
    margin-right: 1rem;
}

/* Style the select element */
select {
    font-size: 1.25rem;
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Style the checkbox and radio input elements */
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] {
    display: inline-block;
    margin-right: 0.5rem;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    border: 2px solid var(--accent-color);
    vertical-align: middle;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: var(--accent-color);
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--accent-color);
    color: white;
    /* other styles */
}